.pagination {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 12px;

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;

    &_link {
      text-decoration: none;
      font-family: 'Roboto';
      font-style: italic;
      font-weight: 700;
      font-size: 18px;
      line-height: 137.69%;
      color: #474955;
      margin-right: 10px;
      cursor: pointer;

      &:focus {
        color: #7EBC3C;
      }

      &:hover {
        color: #7EBC3C;
      }
    }
  }

  &__button {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 137.69%;
    color: #474955;
  }
}